.gradient-custom-3 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 0.5), rgba(143, 211, 244, 0.5))
}

.gradient-custom-4 {
    /* fallback for old browsers */
    background: #84fab0;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgba(132, 250, 176, 1), rgba(143, 211, 244, 1))
}


body {
        color: #fff;
        font-family: 'Open Sans', sans-serif;
        font-size: 15px;
        background: #060606;
        background: linear-gradient(to top left,hsl(245, 96%, 29%), #2fa4d7);
    }
    
.ext-profile-pic {
    display: block;
    margin-top:5%;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3%;
    height: auto;
    max-width: 150px;
    border-radius: 50%;
}

.name {
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 3%;
}
    
.links {
    font-size: 20px;
    text-align: center;
    margin-bottom: 20px;
    padding: 20px;
    border: 1px solid white;
    border-width: 3px;
    width: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 20px;
}

a {
    text-decoration: none;
    color: white;
    transition: color 0.5s; 
}
    
a:hover {
    color: #000;
    background: #fff;
}
    

@media only screen and (max-width: 600px) {
    .ext-profile-pic {
        display: block;
        margin-top:20%;
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 7%;
        height: auto;
        max-width: 150px;
        border-radius: 50%;
    }

    .name {
        text-align: center;
        font-weight: bold;
        font-size: 40px;
        margin-bottom: 8%;
    }
    .links {
        font-size: 20px;
        text-align: center;
        margin-bottom: 40px;
        padding: 6%;
        border: 1px solid white;
        border-width: 3px;
        width: 250px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        border-radius: 20px;
    }
}

    