

<div id="page-home">
    <div id="homepage-cover">
        <div class="container">
            <h1>Welcome<br/>Tap card</h1>
            <button type="button" class="btn btn-light">See Our Fresh Bakes</button>
        </div>
    </div>
</div>


