<form method="POST" action="/users/register">
    <input name="rfid" placeholder="rfid" />
    <input name="email" placeholder="email" />
    <input name="password" placeholder="password" />
    <input name="confirm_password" placeholder="confirm password" />
    <input name="name" placeholder="name" />
    <input name="contact" placeholder="contact" />
    <input type="submit">
  </form>