<form method="POST" action="/users/register">
    <input name="serial" placeholder="serial" />
    <input name="email" placeholder="username" />
    <input name="password" placeholder="password" />
    <input name="confirm password" placeholder="confirm password" />
    <input name="name" placeholder="name" />
    <input name="contact" placeholder="contact" />
    <input type="submit">
  </form>