<%- include('../partials/header'); %>

<div id="page-profile">
    <div class="container my-5">
        <h1>Welcome to your profile, <%= user.name %> </h1>
    </div>
</div>

<%- include('../partials/footer'); %>
